h1 {
    color: red;
}

header {
    background-image: url("./pattern.webp");
    font-weight: bold;
    font-family: Helvetica;
    font-size: 100px;
    color: khaki;
    text-align: center;
}

h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h3 {
    font-family: Helvetica;
}

#Brushes {
    background-color: mediumspringgreen;
}

p {
    font-family: Helvetica;
    font-size: 14px;
}

.price{
    font-weight: bold;
    color: blue;
}

#Frames{
    background-color: lightcoral;
}

#Paint{
    background-color: skyblue;
}